################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/BackendMecanicaElEnano/.vs/BackendMecanicaElEnano/FileContentIndex

# Generated build and publication output
**/bin/
**/obj/
/FrontendMecanicaElEnano/dist/
/BackendMecanicaElEnano/BackendMecanicaElEnano/wwwroot/
/publicacion/
/.single-file-test/
