.ordenTrabajos-page {
  margin: 1%;
}

.ordenTrabajos-vehicle-data {
  text-align: center;
}

.ordenTrabajos-container {
  display: flex;
  gap: 10px;
  margin-bottom: 2%;
}

.ordenTrabajos-table-container{
  overflow: auto;
}

.ordenTrabajos-table{
  width: max-content;
  flex: 1;
}

.ordenTrabajos-fields-container{
  display: flex;
  gap: 10px;
}

.ordenTrabajos-button-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  flex: .1;
}

.ordenTrabajos-properties-container {
  display: inline-flex;
  flex-flow: column wrap;
  flex: 2;
}

.detalles-field{
  width: 100%;
}

table{
  width: 100%;
 }

.repuestos-container {
  display: flex;
  flex-direction: column wrap;
  gap: 10px;
}

.repuestos-table{
  width: 60%;
  flex: 4 2 0;
}

.repuestos-button-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  flex: .1 1 0;
}

.repuestos-button {
  margin-bottom: 5px;
}

.repuestos-precios-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  flex: .5 1 0;
}

.row-is-clicked {
  background-color: #c3cbf9;
  font-weight: bold;
}
